
body {font-size: 16px;}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em; text-align: center;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}

label, input {
  font-size: 1em;
}

button {
  font-size: 0.8em;
}



input {
  font-family: 'Roboto', sans-serif;
}
